body {
    background-color: #F7EDE2;
    margin: auto;
    height: 100vh;
}
h1 {
    text-align: center;
    padding-top: 35px;
    font-family: 'Press Start 2P', cursive;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#gameBoard {
    background-color: #302B27;
    height: 750px;
    width: 750px;
    display: grid;
    grid-template-rows: repeat(30, 25px);
    grid-template-columns: repeat(30, 25px);
}

.snake {
    background-color: #D6EEFF;
    border: 2px solid #F7EDE2;
}

.apple {
    background-color: #F28482;
    border: 2px solid #F7EDE2;
    border-radius: 50%;
}